{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "no-loops",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    //    "off" means 0 (turns the rule off completely)
    //    "warn" means 1 (turns the rule on but won't make the linter fail)
    //    "error" means 2 (turns the rule on and will make the linter fail)
    "no-console": 2,
    "no-loops/no-loops": 2,
    "prettier/prettier": 2
  }
}